!!!XML
!!!
%html
  %head
    %title Quick Heroku App
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "no"}
    %link{:rel => "stylesheet", :href => "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"}
    %link{:rel => "stylesheet", :href => "/css/app.css"}
    %script{:src => "https://code.jquery.com/jquery-1.11.1.min.js"}
    %script{:src => "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"}
    %script{:src => "/js/app.js"}

  %body
    %div.home{:data => {:role => "page"}}
      %div{:data => {:role => "header"}}
        %h1 Quick Heroku App
      %div{:data => {:role => "content"}}
        Hello!
